<div data-id=<%= numFriends %>>
	<br>
	<input type="text" name="bill[guests][][name]" class="guest-name" placeholder="Enter Friend Name"> paid <input type="number" name="bill[guests][][money_paid]" class="amount-paid" placeholder="Amount">
	<button class="btn btn-warning remove-friend" data-id=<%= numFriends %>>Remove This Friend</button>
	<br>
</div>